@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: black;
}
.hide{
 width: 50px;
 height: 50px;
 color: black;
 display: none;
}
.box h1{
  font-size: 36px;
}
.title{
  color: white;
  padding: 20px 10vw;
  border-bottom: 1px solid white;
  width: 80vw;
  font-size: 30px;
}
.underline{
  border-bottom: 1px solid #444444;
  padding-bottom: 1px;
}
.top-header{
background-color: #212529;
color: white;
height: 80px;
width: 100vw;
font-size: 30px;
font-weight: 700;
word-spacing: 1px;
padding: 0 10vw;
display: flex;
align-items: center;
}
.low-header{
  background-color:#f8f9fa;
  height: 60px;
  display: flex;
  align-items: center;
}
.low-header ul{
  display: flex;
  align-items: center;
  gap: 2vw;
  margin: 0;

}
.low-header ul li{
  list-style: none;
  font-size: 17px;
  font-weight: 200;
  color: #444444;
  word-spacing: 1px;
}

.box-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.box{
  padding: 20px;
  width: 20vw;
  height: 150px;
background-color: #F8EF12;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;
}
.box span{
  font-size: 22px;
  width: 20px;
  height: 20px;
  font-weight: 900;
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer;
}
.box button{
  border-radius: 5px;
  border: none;
color: white;
background-color: black;
width: 10vw;
height: 50px;
}

.heading{
  font-weight: 200;
  font-size: 36px;
}

.box h3,h5{
  text-align: center;
  margin: 0;
}

.desc{
  font-size:22px;
  font-weight: 200;
  color: #212529;
}

.bvcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vw;
  padding: 50px 10vw;
}

.bvcard{
height: 270px;
width: 20vw;
border: 1px solid white;
border-radius: 10px;
}

.bvimgcont{
  width: 90%;
  height: 150px;
  background-color: #3e454d;
  margin: 10px auto;
}
.bvimgcont img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.bvcardinfo{
  padding: 0 10%;
  color: white;
}

.bvcardinfo h2,h4{
 margin: 0;
 font-weight: 200;
}
.bvsection{
  position: relative;
}
.box-container{
  top: 0;
  position: fixed;
}


@media screen and (max-width: 768px){
  .bvcontainer{
    grid-template-columns: 1fr;
  }

  .bvcard{
    width: 100%;
  }

  .box-container{
    height: 125vh;
  }

  .box{
    width: 60vw;
  }

  .show{
    display: none;
  }
  .hide{
    width: 20px;
    height: 20px;
    padding: 5px;
    border: 1px solid black;
    position: absolute;
    right: 20px;
    display: block;
  }
}
