@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:opsz,wght@12..72,100;12..72,200;12..72,300;12..72,400;12..72,500;12..72,600;12..72,700;12..72,800;12..72,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root{
  --grey:rgb(240, 240, 240);
  --light-grey:rgb(239, 239, 239);
  --more-grey:rgb(62, 62, 62);
  --footer-color:#1d2327;
  --dark-grey:rgb(66, 66, 66);
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
#sidebar{
  display:none;
}








/* navbar */







.act{
  font-weight: 900;
}
.logo{
  padding-left:70px ;
  height:45px;
  width: 100%;
}

#search{
  display:none;
}

nav{
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 5px 0 10px;
  z-index:1000;
  background-color: white;
  position: fixed;
  top:0;
  transition: top 0.3s;
  box-shadow: 2px 2px 2px #eeeeee;
}

#menu{
  display: none;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style-type: none;
}
/* ul li:hover{
  border-bottom: 1px solid black;
} */
ul li a{
  color:black;
  text-decoration: none;
  margin-right:20px;
  font-size: 14px;
}
ul li a:hover{
  cursor: pointer;
  font-weight: 700;
  
}
input::placeholder{
  padding-left: 20px;
}

input {
  height: 40px;
  width: 25vw;
  border: none;
  padding: 9px 4px 9px 40px;
  background:var(--grey) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.end{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35vw;
}
.end i{
  font-size: 20px;
  padding:10px;
  transition: 0.5s ease;
}
.end i:hover{
  cursor: pointer;
  background-color: var(--light-grey);
}
.dropdown {
  display: block;
}
.dropdown-content {
  padding:10px 20px ;
  position: absolute;
  background-color: white;
  top:100px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1000ms, visibility 1000ms;
  transition: opacity 1000ms, visibility 1000ms;
  transition: 1s;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.dropdown-content a {
  display: block;
  color: #565656;
  padding:10px 10px 0px;
  text-decoration: none;
  width:100%;
  height:40px;
}
.dropdown-content a:hover {
  color: black;
  background-color: white;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.links-container a:hover{
  border:none;
}
.links-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.links-container i{
  font-size: 20px;
  display: block;
}
.links-container a{
  margin: 5px 0px;
}











/* top-section */









/* #background {
  width: 100%; 
  height: 450px; 
  left: 0px; 
  top: 100px; 
}

.stretch {
  width:100%;
  height:100%;
}
.top-content{
  margin: 30px;
}
.light{
  color:var(--more-grey);
}
span:hover{
  cursor: pointer;
  color:var(--more-grey);
} */
/* Slideshow container */


.slideshow-container {
  position: relative;
  margin: auto;
}
.slideshow-container img{
  margin-top:100px ;
  height: 450px;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
  left: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}









/* topics */








.topic-sub{
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 50px;
  margin: 100px 0 20px 30px ;
}
.topic{
  font-family: 'Cinzel', serif;
  /* font-family: 'Texturina', serif; */
  font-weight: 700;
  font-size: 50px;
  margin: 0 0 20px 150px ;
}
hr{
  margin-bottom: 70px;
  width: 90%;
}
.mg-bt{
  width: 100%;
  margin-bottom: 0px;
}
.topic0{
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 50px;
}
.pd-l{
  padding-left: 18px;
}





/* advertisement */








.ad1{
  width: 80vw;
  height: 150px;
  background-color: rgb(239, 239, 239);
  border: 1px solid grey;
  margin:20px auto;
}
.ad1 div{
  background: white;
  display: inline;
}
.ad2{
  width:70vw;
  height: 100px;
  background-color: rgb(239, 239, 239);
  border: 1px solid grey;
  margin:20px auto;
}
.ad2 div{
  background: white;
  display: inline;
}


















/* cards */









#more {
  display: none;
}
#myBtn{
cursor: pointer;
}
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-container {
  padding: 0 5vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 570px;
  height: 650px;
  margin-right: 40px;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 10px 10px 5px rgb(221, 221, 221);
  margin-bottom: 100px;
  transition: 0.5s ease;
}
.product-card:hover{
  box-shadow: 12px 12px 7px rgb(172, 172, 172);
}
.product-card1:hover{
  box-shadow: 12px 12px 7px rgb(172, 172, 172);
}

.product-image {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.product-thumb{
width: 100%;
height: 100%;
object-fit: cover;
}
.product-thumb1{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}
.product-card:hover {
  opacity: 1;
}

.product-info {
  text-align: center;
  width: 100%;
  height: 200px;
  padding-top: 10px;
}

.product-brand {
font-size: 18px;
}
.product-info a{
  font-weight: 700;
  color: black;
  text-decoration: none;
}
.preview{
  color: var(--dark-grey);
}
.product-info a:hover{
  text-decoration: underline;
}
.product-short-description::-webkit-scrollbar {
  display: none;
}
.product-short-description1::-webkit-scrollbar {
  display: none;
}
.product-short-description {
  width: 100%;
  height: 100px;
  line-height: 20px;
  overflow: scroll;
  margin: 5px 0;
  padding: 0px 15px;
}


.product-short-description1{
  width: 100%;
  height: 60px;
  line-height: 20px;
  overflow: scroll;
  margin: 25px 0;
  padding: 0px 15px;
}

.pre-btn,
.nxt-btn {
  color: black;
  border: 1px solid rgb(164, 164, 164);
  width: 5vw;
  height: 10vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 35px;
  font-weight: 900;
}

.pre-btn {
  top: 50%;
  left: 0;
  transform: rotate(180deg);
  box-shadow: -5px -5px 10px rgb(92, 92, 92);
}

.nxt-btn {
  top: 50%;
  right:0;
  box-shadow: -5px 5px 10px rgb(92, 92, 92);
}
.up{
  top:50%;
}
.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

.product-card1 {
  flex: 0 0 auto;
  width: 370px;
  height: 450px;
  margin-right: 40px;
  border: 1px solid gray;
  box-shadow: 10px 10px 5px rgb(221, 221, 221);
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 100px;
  transition: 0.5s ease;
}
.product-image1{
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.post:not(:last-child){
  margin-bottom: 50px;
}
.post p{
  padding: 0px 10px;
}
.hide{
  display: none;
}
#content-btn{
  background-color: black;
  color: white;
  height: 35px;
  width: 110px;
  border-radius: 10px;
  cursor: pointer;
}
#content-btn a{
  color: white;
}
#content-btn:hover{
  background-color: var(--footer-color);
}









/* grid */







.eventlink{
  color: black;
  text-decoration: none;
  
}
.eventlink h1{
  display: inline;
}
.eventlink:hover{
  text-decoration: underline;
}
.events{
  margin-top:100px ;
}
.flex{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.flex .card-flex{
  width: 45vw;
  margin: 30px;
}
.flex .card-flex img{
  width: 100%;
  height: 500px;
}
.events{
  margin-bottom: 100px;
}
.flex1{
  display: flex;
  justify-content:center ;
}
.flex1 .card-flex1{
  width: 750px;
  margin: 30px;
}
.flex1 .card-flex1 img{
  width: 700px;

}
.grey{
  color:#6f6f6f
}
.credit{
  font-size: 12px;
  color:grey
}









/* art-page */







.hr-art{
  margin-bottom: 40px;
  width: 100%;
}
.disclaimer{
  padding-right: 100px;
  color: grey;
  font-size: 12px;
  line-height: 12px;
}
.mg-ontop{
  margin-top: 100px;
}
.f-sm{
  padding-left: 30px;
  font-size: 50px;
}
.mg-top{
  margin: 120px 0px 0px 16vw;
}
.arthr{
  width: 70%;
  margin-top: 0;
}
.art-container1{
  width: 750px;
}
.art-hor-img img{
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
.art-hor{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}
.art-hor-info{
  width: 35vw;
}
.art-topic{
  color: black;
  font-weight: 800;
  text-decoration: none;
  font-size: 22px;
}
.art-topic:hover{
  text-decoration: underline;
}
.art-topic1{
  color: white;
  font-weight: 800;
  text-decoration: none;
  font-size: 18px;
}
.art-topic1:hover{
  color: rgb(51, 51, 51);
}
.art-flex{
  display: flex;
  justify-content: center;
  margin:auto;
}
.advertise{
  margin-left: 100px;
  height: 2650px;
}
.advertise div{
  margin-top:50px ;
  height: 75vh;
  width: 20vw;
  position: sticky;
  top: 120px;
  background-color: rgb(239, 239, 239);
  border: 1px solid grey;
}
.height{
  height: 1000px;
}











/* footer */












.language{
  line-height: 0px;
}
footer{
  height: 30vh;
  background-color: var(--footer-color);
  padding: 20px 0;
  text-align: center;
}
.footer-container{
  text-align: center;
}
.footer-container div{
  margin: 10px 0;
}
.footer-container a{
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
.footer-container a:hover{
  color: var(--light-grey);
  text-decoration: underline;
}
.footer-container p{
  color: white;
}
.light{
  font-weight: 200;
  font-size: 14px;
  margin: 30px 0;
}
.language{
  display: flex;
  justify-content: center;
  align-items: center;
}



/* about */






.edi-top{
  margin-bottom: 50px;
}
.edi-bot{
  margin-bottom: 50px;
}
.editorial-cont{
  margin-left: 100px;
}
.about-topic1{
  font-size: 50px;
  margin: 100px 20px 0px;
}
.about-cont{
  margin-top: 50px;
  margin-right: 30px;
  width: 45vw;
}
.abouthr{
  width: 100%;
}
.about-topic{
  font-size: 50px;
  margin: 0 30px;
}
.about-cont p{
  margin: 0px 10px;
}
.art-flex .advertise1{
  height: 90vh;
}
.adver{
  height: 1000px;
  margin-left: 100px;
}
.adver div{
  margin-top:50px ;
  height: 75vh;
  width: 20vw;
  position: sticky;
  top: 120px;
  background-color: rgb(239, 239, 239);
  border: 1px solid grey;
}
.advertise1 div{
  margin:20px auto;
  background-color: rgb(239, 239, 239);
  border: 1px solid grey;
  width: 22vw;
  height: 70vh;
}
.contact-cont{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5%;
  text-align: center;
  border: 1px solid black;
  margin: 100px 5vw;
}
.cc-cont{
  width: 25vw;
}
.cc-cont i{
  font-size: 30px;
}






/* call for submissions */

.sub{
  margin-bottom: 35px;
}
.sub-cont{
  width: 50%;
}





/* form */


.map-sec{
  display: flex;
  padding: 0 10vw;
  justify-content: center;
  margin-bottom: 100px;
}
.form-cont{
margin:0 2vw;
}

.form input{
  width: 60%;
}
.input{
  background:none;
  border: 1px solid rgb(63, 63, 63);
  padding: 0;
  margin-bottom: 20px;
}
.form textarea{
  padding: 10px;
  margin-bottom: 20px;
}
.form button{
  background-color: black;
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
}
.form button:hover{
  background-color: var(--footer-color);
}



/* artist-single-page */


.art-container2{
  width: 40vw;
}
.art-top{
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 50px;
  margin: 10px 0;
}
.light-dark{
  color: #505050;
}
.artist-page-img{
  margin-bottom: 10px;
  display: flex;
  width: 100%;
}
.img-info{
  text-align: center;
}
.img-info p{
  margin: 0;
  color: #505050;
}
.art-subtop{
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 30px;
  margin: 30px 0;
}
.art-subtop1{
  font-family: 'Cinzel', serif;
}
.subtop-info{
  margin-bottom: 100px;
}
.artist-page-img img{
  
  width: 50%;
}


/* books */


.abtn{
  color: white;
  background-color: black;
  height: 35px;
  width: 110px;
  border-radius: 10px;
  cursor: pointer;
}
.abtn:hover{
  background-color:var(--footer-color);
}
.abtn a{
  font-weight: 400;
  font-size: 12px;
color: white;
}
.abtn a:hover{
  text-decoration: underline;
  color: white;
}
.advertise-book{
  margin-top:50px ;
  height: 75vh;
  width: 20vw;
  position: sticky;
  top: 120px;
  background-color: rgb(239, 239, 239);
  border: 1px solid grey;
}
.advertise-book img{
  height: 90vh;
  width: 20vw;
  position: sticky;
  top: 0;
}
.book-main{
  margin-bottom: 50px;
}
.book-info{
  width: 80%;
}
.book-page-img{
  width:80%;
  height: 600px;
  }
.book-page-img0{
width:80%;
height: 600px;
}



/* gallery */



.gal-img-cont{
  position: relative;
  height: 400px;
  width: 25vw;
}
.gal-img-cont img{
  bottom: 0px;
  position: absolute;
  max-height: 400px;
  width: 100%;
}
.gal-box{
  width: 25vw;
  margin:0px 50px;
  margin-bottom: 30px;
}
.gal-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gal-img-info p{
 margin: 0px;
}
.mg-left{
  margin-left: 250px;
}





@media screen and (max-width: 1200px){
  .logo{
    padding-left: 0;
  }
  nav{
    padding:0 5%;
  }
  #sidebar{
    display:block;
    z-index: -100;
  }
  #menu{
    display: block;
    padding-right: 5%;
    cursor: pointer;
  }
ul li{
  display: none;
}
.sidebar p{
  cursor: pointer;
  margin:0 20px;
  font-weight: 700;
  font-size: 20px;
  border-top: 1px solid rgb(237, 237, 237);
  padding: 20px 0;
}

.sidebar{
  display: block;
  position: absolute;
  left:-1000px;
  /* left: -1000px; */
  top: 100px;
  width: 30vw;
  background-color: rgb(255, 254, 254);
  transition: 1s ease;
}
.sidebar.active{
  left:0;
}
.sidebar a{
  color: #1a1a1a;
  text-decoration: none;
}

 .dropdown{
  display: block;
 }
  ul{
    width: 10vw;
    margin-right: 10vw;
  }
  input{
    width: 40vw;
  }
  .cards-section{
    display: block;
  }
  .card-container{
    width: 90%;
  }
  .podcast-low{
    display: block;
  }
  .low-cards{
    display: block;
  }
  .lowest-text{
    width: 90vw;
  }
  .low-cards{
    display: block;
  }
  .low-cards .card-container{
    width: 80vw;
  }
  .flex{
    grid-template-columns: 1fr;
  }
  .flex .card-flex{
    width: 90vw;
  }
  .drop-footer{
    display:block;
  }
  .footer-container{
    display: block;
    padding: 10px;
  }

  #lorem{
    margin: 0;
    width: 90vw;
    height: 60px;
    background-color: var(--footer-color);
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  .links{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .footer-container hr{
    display: block;
    border: 1px solid white;
  }
  table{
    display: none;
  }
}
@media screen and (max-width: 768px){
  .logo{
    width: auto;
    padding-left: 10px;
    margin-right: 40px;
  }

  nav{
    padding: 15px;
    margin: 0;
  }
  #search{
    display: inline;
    cursor: pointer;
  }
  input{
    display:none;
  }
  textarea{
    border-top:1px solid rgb(149, 149, 149) ;
  }
  .input{
    display: block;
  }
  .form input{
    width: 90%;
  }
  .end i{
    font-size: 18px;
    margin: 6px;
    padding: 0;
  }
  .sidebar{
    width: 100vw;
  }
  #menu{
    font-size: 24px;
    padding: 7px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid  rgb(94, 94, 94);
  }
  .slideshow-container img{
    height: 225px;
  }
  .topic{
  font-weight: 700;
  font-size: 50px;
  margin-left: 10px;
  }
  .product-container{
    padding: 0;
  }
  .pre-btn,
.nxt-btn {
  width: 10vw;
}
  .product-card{
  width: 320px;
  height: 450px;
  margin: 0px 10px 20px 0px;
  }
  .product-image{
    height: 220px;
  }
  hr{
    width: 100%;
    margin-bottom: 50px;
  }
  .eventshr{
    width: 90%;
  }
  .product-card1{
    width: 320px;
    height: 450px;
    margin: 0px 10px 20px 0px;
  }
  .product-short-description1{
    margin: 15px 0px 10px;
    height: 90px;
  }
  .product-image1{
    margin-bottom: 15px;
    height: 220px;
  }
  .flex .card-flex img{
    width: 100%;
    height: auto;
  }
  .flex .card-flex{
    margin: auto;
    margin-bottom: 50px;
  }
 footer{
  height: auto;
 }
 .flex1 .card-flex1 img{
  margin-top:100px;
  width: 100%;
  height: 250px;
 }
 .art-container1{
  width: 100%;
 }
 .advertise img{
  display:none;
 }
 .flex1 .card-flex1{
  width: 100%;
  margin: 0;
  margin-left: 10px;
 }
 .flex1 .card-flex1 p{
  margin-right: 10px;
 }
 .art-hor-img img{
  width: 100%;
 }
 .art-hor{
  display: block;
  margin-left:10px;
  margin-bottom: 50px;
 }
 .art-hor-info{
  width: 100%;
 }
 .art-hor-info p{
  margin-right: 10px;
 }
 .art-container2{
  margin-top: 0px;
  width: 100%;
  margin-left: 10px;
 }
 .art-top{
  font-size: 40px;
 }
 .grid-gallery{
  display: block;
 }
 .flex-gallery img{
  width: 100%;
  height: auto;
 }
 .height{
  height: auto;
  border: none;
 }
 .flex-gallery{
  margin-bottom: 50px;
 }
 .main-section{
  margin-bottom: 50px;
 }
 .art-container2{
  margin:0px 5px 0;
  width: 100%;
 }
 .topic{
  padding-left: 0px;
 }
 .advertise{
  display: none;
 }
 .advertise-book{
  display: none;
 }
 .book-page-img{
  width: 100%;
 }
 .book-page-img0{
  width: 100%;
 }
 .book-info{
  width: 100%;
 }
 .advertise1{
  display: none;
 }
 .about-cont{
  width: 100%;
  margin: 100px 5px 0;
 }
 .contact-cont{
  flex-direction: column;
  text-align: center;
 }
 .cc-cont{
  margin-top:50px ;
  width: 100%;
 }
 .map-sec{
  display: block;
  padding: 0;
 }
 iframe{
  width: 100%;
 }
 .form-cont{
  width: 100%;
 }
.form{
  height: 100%;
}
.arthr{
  width: 95%;
  margin:30px auto 0;
  border-top: 1px solid rgb(178, 178, 178);
}
.art-hor-img img{
  width: 97%;
}
.flex1 .card-flex1 img{
  margin-top: 20px;
  height: auto;
  width: 97%;
}
.mg-ontop{
  margin: 0;
}
.cos{
  margin-left: 10px;
}
.mg-some{
  margin: 0 auto;
}
.cos-container{
  width: 100%;
  margin: 50px auto;
  padding: 0 5px;
}
.editorial-cont{
  margin-left: 10px;
}
.art-subtop{
  font-size: 28px;
}
.art-hor-img img {
  height: 100%;
  margin-right: 10px;
}
.adver{
  display: none;
}
.sub-cont{
  width: 100%;
}
.about-cont{
  margin: 50px 0px 0;
}
.gal-grid{
  grid-template-columns: 1fr;
}
.gal-img-cont{
  width: 100%;
}
.gal-box{
  margin: 0px;
  height: auto;
  width: 100%;
}
.gal-grid{
  margin: 10px 10px;
}
.gal-img-info{
  padding: 10px;
}
.mg-left{
  margin-left:10px;
}
.width{
  width: 100%;
}
.language{
  line-height: auto;
  font-size: 10px;
}
.language a{
  display: block;
  font-size: 10px;
}
.aboutus-mg{
  margin: 0px 10px;
}
.list{
  width: 10px;
}
.form button{
  margin: 0px;
}


}

